@model CIS655Project.Models.Business

@{
    Layout = "~/Views/Shared/_BLogReg.cshtml";
    ViewData["Title"] = "URegister";
}

<h1 class="text-center">Register Business</h1>

@if (TempData["email"] != null)
{
    <div class="alert alert-danger">@TempData["email"]</div>
}

<hr />
<div class="row">
    <div class="col-md-8 card mx-auto" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 35rem;!important">
        <form asp-action="BRegister" method="post" class="mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-inline mt-3">
                <div class="form-group">
                    <label asp-for="Bname" class="control-label">Business</label>
                    <input asp-for="Bname" class="form-control ml-2" style="width: 320px" required />
                    <span asp-validation-for="Bname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-inline mt-2">
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" style="margin-left: 29.5px" required />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group ml-3">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control ml-5" required />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group mt-2">
                    <label asp-for="State" class="control-label "></label>
                    <input asp-for="State" class="form-control" style="margin-left: 33.5px" required />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group mt-2">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control ml-2" min="10000" max="99999" style="width: 200px" required />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group ml-3">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control ml-4" required />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group mt-2">
                    <label asp-for="Bcategory" class="control-label">Education</label>
                    <select asp-for="Bcategory" class="form-control ml-1" required>
                        <option value="IT">
                            IT
                        </option>
                        <option value="Marketing">
                            Marketing
                        </option>
                        <option value="Staffing">
                            Staffing
                        </option>
                        <option value="Retail">
                            Retail
                        </option>
                    </select>
                    <span asp-validation-for="Bcategory" class="text-danger"></span>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group mt-2">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" style="margin-left: 30px" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group ml-3">
                    <label asp-for="Pwd" class="control-label">Password</label>
                    <input type="password" asp-for="Pwd" class="form-control ml-3" required />
                    <span asp-validation-for="Pwd" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-3">
                <div style="margin-left: 150px">
                    <input type="submit" value="Create Account" class="btn btn-primary" />
                    <a asp-action="Login" class="ml-3 btn btn-outline-primary text-dark">Back to Login</a>
                </div>
            </div>
        </form>
    </div>

</div>